body {
   font-size: medium;
   color: #202020;
   background-color: #F2F2F2;
   font-family: -apple-system-body, BlinkMacSystemFont, sans-serif;
   word-wrap: break-word;
}

h1,h2 {
   font-size: large;
   font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
}

h3,h4 {
   font-size: medium;
   font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
}

h2 {
   margin: 1em 0;
   background-color : #DAD6DA;
   padding: 0.25em;
}

pre {
   padding: 0.5em;
   background-color: #E0EFE0;
   border: 1px solid #99CC99;
}

ul,ol {
   padding-left: 2.0em;
}

a {
   color: #00C;
}

