
body {
   padding-bottom: 40px;
   background-color: white;
}

.container {
}

.document {
}

h1 {
   padding: 50px 20px;
   font-size: 220%;
   color: white;
}

h2 {
   font-size: 130%;
}

h3 {
   font-size: 120%;
}

h2.checkbox {
   background:url(../images/check.jpg) no-repeat center left;
   text-indent: 20px;
   line-height: 36px;
   font-weight: normal;
   margin: 20px 0 0 10px;
}

h3.point {
   background: url(../images/icon_pink.jpg) no-repeat center left;
   text-indent: 22px;
   line-height: 20px;
   margin-top: 25px;
}

.document p, .document ul {
   padding-right: 30px;
   margin-bottom: 20px;
}

