
body {
   padding: 0;
   margin: 0;
   background-color: #f5f5f5;
}

.header {
   padding: 0;
   margin: 0;
   max-height: 200px;
   width: 100%;
   background:url(../images/header_back.png) repeat-x ;
   z-index:10;
}

.container {
   padding: 0 0px;
   background-color: white;
}

.document {
}

h1 {
   padding: 50px 20px;
   font-size: 220%;
   color: white;
}

h2 {
   font-size: 140%;
}

h3 {
   font-size: 120%;
}

h2.checkbox {
   background:url(../images/check.jpg) no-repeat center left;
   text-indent: 20px;
   color: #31b3b1;
   line-height: 36px;
   font-weight: normal;
   margin: 20px 0 0 10px;
}

h3.point {
   background: url(../images/icon_pink.jpg) no-repeat center left;
   text-indent: 22px;
   line-height: 20px;
   margin-top: 25px;
}

.document p, .document ul {
   padding-right: 30px;
   margin-bottom: 20px;
}

