

body {
   background-color: #DDDDDD;
   padding: 0;
   margin: 0;
}

div#header {
   width: 600px;
   background-color: #333333;
   padding: 0.5em 1em;
   margin: 0 auto;
   color: #FFFFFF;
}

div#body {
   width: 600px;
   background-color: #FFFFFF;
   padding: 0.4em 1em 2em 1em;
   margin: 0 auto;
}

div#footer {
   width: 600px;
   background-color: #FFFFFF;
   margin: 0px auto;
   padding: 0.5em 1em;
   border-top: 2px solid #CCCCCC;
   text-align: right;
   color: #666666;
   /* font-size: small; */
   font-style: italic;

}

/* header content */
div#header h1 {
   margin: 0.2em 0;
   padding: 0;
}

div#header .langlink {
   padding: 0;
   margin: 0;
   list-style: none;
}

div#header li {
   margin: 0.3em 0.3em 0.5em 0.3em;
   float: right;
}

div#header a {
   color: white;
}

div#header h1 a {
   text-decoration: none;
}

/* body content */
div#body p {
   padding: 0 10px;
}

div#body h3 {
   background: url(../images/h3.jpg) repeat-y top left;
   padding: 10px 0 10px 10px;
   border-width: 2px 0 0 2px;
   border-style: solid;
   border-color: #EEEEEE;
   clear: both;
}

div#body h4 {
   margin-left: 0.2em;
   padding-left: 0.5em;
   border-width: 0 0 0 1em;
   border-style: solid;
   border-color: #EEEEEE;
}

div#body h5,
div#body h6 {
   margin-left: 0.2em;
   padding-left: 0.5em;
   border-width: 0 0 0 0.5em;
   border-style: solid;
   border-color: #EEEEEE;
}

div#body dl dt {
   font-weight: bold;
}

div#body dl dd {
   margin-bottom: 0.5em;
}

.footnote {
   font-size: x-small;
}

.warning {
   color: red;
}

img.sshot {
   margin: 0 0.5em;
   padding: 0.3em;
   float: left;
   border-top: solid 1px #DDDDDD;
   border-left: solid 1px #DDDDDD;
   border-bottom: solid 2px #777777;
   border-right: solid 2px #777777;
}

img.sshotr {
   margin: 0 0.5em;
   padding: 0.3em;
   float: right;
   border-top: solid 1px #DDDDDD;
   border-left: solid 1px #DDDDDD;
   border-bottom: solid 2px #777777;
   border-right: solid 2px #777777;
}

/* capture */
p.mainCapture {
   float: right;
}

p.mainCapture img {
   padding: 0.3em;
   box-shadow: 0 0 0px #333, 0 0 12px #333, 5px 5px 5px #999;
   -webkit-box-shadow: 0 0 0px #333, 0 0 12px #333, 5px 5px 5px #999;
}

p.capture {
   float: left;
}

p.capture span {
   text-align: center;
}

p.capture img {
   margin: 0.5em 0.5em;
   padding: 0.3em;
   box-shadow: 0 0 0px #333, 0 0 12px #333, 5px 5px 5px #999;
   -webkit-box-shadow: 0 0 0px #333, 0 0 12px #333, 5px 5px 5px #999;
}

/* navigation bar */
div#navigater {
   padding: 0.5em;
   text-align: right;
   background: url(../images/navline.jpg) repeat-x bottom;
}

div#navigater ul {
   padding: 0 10px 0 0;
   margin: 0.2em;
   list-style-type: none;
}

div#navigater li {
   display: inline;
}

div#navigater li a {
   padding: 3px 5px;
   margin: 0px;
   margin-left: 0.5em;
   text-decoration: none;
   color: #3333EE;
}

div#navigater li a:hover {
   text-decoration: underline;
}

div#navigater li.current a {
   color: #333333;
   font-weight: bold;
}

/* footer content */
div#footer hr {
   display: none;
}

/* some samples */
div.sample_icon {
   width: 57px;
   height: 57px;
   border: 1px solid #000099;
}

div.sample_img {
   margin: 0 5px;
   border: 1px solid gray;

   width:  160px;
   height: 240px;
   float: left;
}

p.email span {
   float: right;
}

